* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat',sans-serif;
    background-color:  rgb(12, 72, 191);
    height: 1000px;
}

.header {
    height: 100px;
    background-color: rgb(12, 72, 191);
    border-bottom: 1px rgba(255, 255, 255, 0.486) solid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    height: auto;
    display:inline-block ;
    position: relative;
    top: 0;
    padding: 20px 0;
}



#nav li {
    display:inline-block;
    position: relative;
    float:right;
}
#nav li a {
    text-decoration: none;
    line-height: 100px;
    padding: 0px 20px;
    display: inline-block;
    color: #fff;
}
.justify {
    display: none;
}
@media only screen and (max-width: 846px) {
   #nav {
       display: none;
   }
   .justify {
       display: inline-block;
       position: relative;
       float: right;
       color: #fff;
       font-size: 20px;
       padding: 40px 30px;
   }
   .justify:hover {
       display: block;
   }
   .justify li a {
    text-decoration: none;
    display: none;
    color: #fff;
    text-transform:inherit;
    margin-top: 45px;
   }
   .justify:hover li a {
       display: inline-block;;
   }
   .justify .nav2 {
     list-style: none;
   }
}